<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>全部课程</title>
	<link rel="stylesheet" href="{CSS_PATH}self/base.css">
	<link rel="stylesheet" href="{CSS_PATH}self/index.css">
	<link rel="stylesheet" href="{CSS_PATH}iconFont/iconfont.css">
	<script src="{JS_PATH}self/rems.js"></script>
</head>
<body>
	<!-- 头部开始 -->
	<header>
		<div class="head-left">课程</div>
		
	</header>
	<!-- 头部结束 -->

	<!-- 内容部分开始 -->
	<main>
		<!-- 每个分类开始 -->
		<div class="middle">
			<h2 class="title">{$CATEGORYS[9][catname]}</h2>
			<ul class="courses">
			    {pc:content  action="category" catid="9" num="20" siteid="$siteid" order="listorder ASC" moreinfo="1"}
                {loop $data $v}
				<li>
					<a href="{$v[url]}">
						<div class="course-box"><img src="{$v[image]}" alt=""></div>
						<span>{$v[catname]}</span>
					</a>
				</li>
				{/loop}
				{/pc}
				
			</ul>
		</div>
		<!-- 每个分类结束 -->

		<!-- 每个分类开始 -->
		<div class="middle">
			<h2 class="title">{$CATEGORYS[10][catname]}</h2>
			<ul class="courses">
			    {pc:content  action="category" catid="10" num="20" siteid="$siteid" order="listorder ASC" moreinfo="1"}
                {loop $data $v}
				<li>
					<a href="{$v[url]}">
						<div class="course-box"><img src="{$v[image]}" alt=""></div>
						<span>{$v[catname]}</span>
					</a>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>
		<!-- 每个分类结束 -->

		<!-- 每个分类开始 -->
		<div class="middle">
			<h2 class="title">{$CATEGORYS[11][catname]}</h2>
			<ul class="courses">
			    {pc:content  action="category" catid="11" num="20" siteid="$siteid" order="listorder ASC" moreinfo="1"}
			    <!-- {var_dump($data)} -->
                {loop $data $v}
				<li>
					<a href="{$v[url]}">
						<div class="course-box"><img src="{$v[image]}" alt=""></div>
						<span>{$v[catname]}</span>
					</a>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>
		<!-- 每个分类结束 -->
	</main>
	<!-- 内容部分结束 -->
    
	

</body>
</html>